doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='/stylesheets/Bootstrap/bootstrap.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
    script(type='text/javascript' src='/javascripts/jquery.js')
    script(type='text/javascript' src='/javascripts/bootstrap/Bootstrap.js')
    script(type='text/javascript' src='/javascripts/dateTimePicker.js')
    script(type='text/javascript' src='/javascripts/bootstrap-datepicker.js') 
  body
    block content
