extends layout

block content
  .container
      div.list-group
        a.list-group-item(href='/') Heima
        a.list-group-item(href='/create') Nýr aðgangur
        a.list-group-item.active(href='/login') Innskráning
      form.form-signin(role='form', method='post', action='/login')
        input.form-control(type='text', id='username', name='username' placeholder='Notendanafn', value=username, required='', autofocus='')
        input.form-control(type='password', id='password', name='password', placeholder='Lykilorð', required='')
        label.checkbox
          input(type='checkbox', value='remember-me')
          | Muna Notendanafn
        button.btn.btn-lg.btn-success.btn-block(type='submit') Innskrá